registry=https://nexus.online.tkbbank.ru/repository/npmjs/
fund=false
audit=false
# Внутренний Nexus отдаёт корп. CA. Когда DevOps пробросит $CERT в CI variables —
# уберём этот флаг и подложим CA через NODE_EXTRA_CA_CERTS в before_script.
strict-ssl=false
